<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <div class="">
        <h1 class="text-4xl">Create an account</h1>
        
        <div>
          <form action=""></form>
          <div class="hidden">
            <h2>Read More, Learn More</h2>
            <img src="/images/bibliophile.svg" alt="Bibliophile Icon">
          </div>
        </div>
      </div>
    </main>
<%- include('../includes/end.ejs') %>
