<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="w-[90%] md:w-[70%] mx-auto lg:w-[60%] xl:w-[50%]">
        <h2 class="text-3xl font-semibold text-center underline">Add Book</h2>
        
        <form action="/user/add-book" method="POST" class="flex flex-col gap-y-3" enctype="multipart/form-data">
            <div class="flex flex-col space-y-1">
              <label for="title" class="text-sm font-semibold">Title <span class="text-red-700">*</span></label>
              <input type="text" name="title" id="title" class="border border-gray-400 h-12 rounded-lg outline-2 outline-transparent placeholder:text-xs pl-4 text-xs md:text-sm lg:text-base md:placeholder:text-sm lg:placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF]" placeholder="Enter book title" required style="transition: outline 0.7s ease-in-out">
            </div>

            <div class="flex flex-col space-y-1">
              <label for="description" class="text-sm font-semibold">Description <span class="text-red-700">*</span></label>
        
                <textarea name="description" id="description" cols="30" rows="5"   class="border border-gray-400 rounded-lg outline-2 outline-transparent pl-4 pt-4 text-xs md:text-sm lg:text-base placeholder:text-xs md:placeholder:text-sm lg:placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF] resize-none" placeholder="Enter book description" required style="transition: outline 0.7s ease-in-out"></textarea>
            </div>

            <div class="flex flex-col space-y-1">
              <label for="authorName" class="text-sm font-semibold">Author's Name <span class="text-red-700">*</span></label>
              <input type="text" name="authorName" id="authorName" class="border border-gray-400 h-12 rounded-lg outline-2 outline-transparent pl-4 text-xs md:text-sm lg:text-base placeholder:text-xs md:placeholder:text-sm lg:placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF]" placeholder="Enter author's name" required style="transition: outline 0.7s ease-in-out">
            </div>

            <div class="h-[155px] border border-gray-400 border-dotted rounded-md">
                <label for="file">Upload File</label>
                <input type="file" name="file" id="file">
           </div>

           <div class="flex gap-10 w-[100%]">
                <div class="flex flex-col w-[50%] flex-1 space-y-1">
                    <label for="publicationDate" class="text-sm font-semibold">Publication Date <span class="text-red-700">*</span></label>
                    <input type="text" name="publicationDate" id="publicationDate" class="border border-gray-400 h-12 rounded-lg outline-2 outline-transparent pl-4 text-xs placeholder:text-xs md:text-sm lg:text-base lg:md:placeholder:text-sm lg:placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF] w-full" placeholder="September 16, 2014" required style="transition: outline 0.7s ease-in-out">
                 </div>

                <div class="flex flex-col w-[50%] flex-1 space-y-1">
                    <label for="rating" class="text-sm font-semibold">Rating <span class="text-red-700">*</span></label>
                    <input type="text" name="rating" id="rating" class="border border-gray-400 h-12 rounded-lg outline-2 outline-transparent pl-4 text-xs md:text-sm lg:text-base placeholder:text-xs md:placeholder:text-sm lg:placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF] w-full" placeholder="Rating" required style="transition: outline 0.7s ease-in-out">
                 </div>
            </div>

            <div class="flex gap-10 w-[100%]">
                <div class="flex flex-col w-[50%] space-y-1">
                   <label for="pages" class="text-sm font-semibold">Book Length <span class="text-red-700">*</span></label>
                   <input type="number" name="pages" id="pages" class="border border-gray-400 h-12 rounded-lg outline-2 outline-transparent pl-4 text-xs md:text-sm lg:text-base placeholder:text-xs md:placeholder:text-sm lg:placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF] w-full" placeholder="Book Length" required style="transition: outline 0.7s ease-in-out">
                </div>

                <div class="flex flex-col w-[50%] space-y-1">
                   <label for="language" class="text-sm font-semibold">Language <span class="text-red-700">*</span></label>
                   <input type="text" name="language" id="language" class="border border-gray-400 h-12 rounded-lg outline-2 outline-transparent pl-4 text-xs md:text-sm lg:text-base placeholder:text-xs md:placeholder:text-sm lg:placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF] w-full" placeholder="Language" required style="transition: outline 0.7s ease-in-out">
                </div>
            </div>

            <div class="flex gap-10 w-[100%]">
                <div class="flex flex-col w-[50%] space-y-1">
                   <label for="readingAge" class="text-sm font-semibold">Reading Age <span class="text-red-700">*</span></label>
                   <input type="number" name="readingAge" id="readingAge" class="border border-gray-400 h-12 rounded-lg outline-2 outline-transparent pl-4 text-xs md:text-sm lg:text-base placeholder:text-xs md:placeholder:text-sm lg:placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF] w-full" placeholder="Reading Age" required style="transition: outline 0.7s ease-in-out">
                </div>

                <div class="flex flex-col w-[50%] space-y-1">
                   <label for="isbn13" class="text-sm font-semibold">ISBN-13 <span class="text-red-700">*</span></label>
                   <input type="text" name="isbn13" id="isbn13" class="border border-gray-400 h-12 rounded-lg outline-2 outline-transparent pl-4 text-xs md:text-sm lg:text-base placeholder:text-xs md:placeholder:text-sm lg:placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF] w-full" placeholder="ISBN-13 number" required style="transition: outline 0.7s ease-in-out">
                </div>
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <button class="border border-[#0052FF] rounded-full w-full h-14 bg-[#0052FF] text-white text-lg font-semibold hover:shadow-2xl hover:-translate-y-[0.1rem]" type="submit">Submit</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>